<!DOCTYPE html>
<html lang="en" ng-app="Remoty">
<head>
    <base href="/"/>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta charset="utf-8"/>
    <title>Challange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" href="lib/angular-material/angular-material.css">
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="lib/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="lib/angular-messages/angular-messages.js"></script>
    <script type="text/javascript" src="lib/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="lib/angular-material/angular-material.js"></script>

    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js" type="text/javascript"></script>-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300">-->


    <script type="text/javascript" src="js/app.js"></script>

</head>
<body layout="column" class="ng-cloak" ng-controller="AppCtrl as app">

<div flex layout="column" tabIndex="-1" role="main">

    <md-toolbar class="menu md-primary md-hue-50" layout="row" layout-align="space-around center" ng-hide="app.hideTitleBar">
        <div >
            TBC
        </div>
    </md-toolbar>
    <div layout="column" layout-align="center center">
        <h1> Hack IT all - Challenge</h1>
        <div>
            <form ng-submit="submit()" ng-controller="AppCtrl">
                Enter number and hit enter:
                <md-input-container>
                    <input type="number" ng-model="form.number" name="text" />
                </md-input-container>
                <md-button class="md-raised" type="submit" > Submit </md-button>
                <pre>{{form.out}}</pre>
            </form>
        </div>
    </div>

</div>
</body>
</html>